<!DOCTYPE html>
<html>
<head>
	<title>NEW</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel= "stylesheet" type= "text/css" href= "../static/style.css">

</head>

<body id="content">
	<div class="results">

	</div>
	<br>

<div id="mycontent">
    <div id="mcontent flex flex-column">
        <center>

      <div class="poster-lg">
        <img class="poster" style="border-radius: 40px;margin-left: 90px;" height="400" width="250" src={{poster}}>
      </div>
      <div class="poster-sm text-center">
        <img class="poster" style="border-radius: 40px;margin-bottom: 5%;" height="400" width="250" src={{poster}}>
      </div>
            </center>

        <br/>
          <div class="card-header">
    Featured
  </div>
          <table class="table table-bordered" bordercolor="white" style="color:white;  background-color: #000000;
    opacity: 0.8;">
              <thead><tr>
                  <th class="text-center" scope="col" style="width: 75%;>
                      Title
                  </th>
                   <th class="text-center" scope="col" style="width: 75%">
                      Title
                  </th>
                   <th class="text-center" scope="col" style="width: 75%">
                      Overview
                  </th>
                   <th class="text-center" scope="col" style="width: 75%">
                      Rating
                  </th>
                   <th class="text-center" scope="col" style="width: 75%">
                      Genre
                  </th>
                   <th class="text-center" scope="col" style="width: 75%">
                      Release Date
                  </th>
                   <th class="text-center" scope="col" style="width: 75%">
                      Runtime
                  </th>
                   <th class="text-center" scope="col" style="width: 75%">
                      Status
                  </th>
              </tr></thead>
              <tbody>
              <td>
             {{title}}
              </td>
              <td>
                  {{overview}}
              </td>
              <td>
                  {{vote_average}}/10 ({{vote_count}} votes)
              </td>
              <td>
                 {{genres}}
              </td>
              <td>
                  {{release_date}}
              </td>
              <td>
                {{runtime}}
              </td>
              <td>
                  {{status}}
              </td>

              </tbody>
          </table>

      </div>
    </div>
</div>
<br/>
	

  <center>
    {% if reviews %}
    <h2 class="card" style="color:white; width:18rem; background-color:black;opacity:0.8;">USER REVIEWS</h2>
     <div class="col-md-12" style="margin: 0 auto; margin-top:25px;">
        <table class="table table-bordered" bordercolor="white" style="color:white;background-color: #000000;
    opacity: 0.8;">
            <thead>
                <tr>
                    <th class="text-center" scope="col" style="width: 75%">Comments</th>
                    <th class="text-center" scope="col">Sentiments</th>
                </tr>
            </thead>
    
            <tbody>
		      {% for review, status in reviews.items() if not reviews.hidden %}
		      <tr >
              	  <td>{{review}}</td>
	              <td><center>
                      {{status}}
	                  {% if status =='Good' %}
                            &#x1F44D;
	                  {% else %}
&#x1F44E;
	                  {% endif %}
	                </center>
	              </td>
          		</tr>
      			{% endfor %}
    		</tbody>
 		 </table>
    </div>
    {% else %}
    <div style="color:white;">
      <h1 style="color:white"> This movie is not released yet. Stay tuned! </h1>
    </div>
    {% endif %}
  </center>

      {% if movie_cards|length > 1 %}


      <div class="movie" style="color: #E8E8E8;">
      <center><h3>RECOMMENDED MOVIES FOR YOU</h3><h5>(Click any of the movies to get recommendation)</h5></center>
    </div>

    <div class="movie-content">
      {% for poster, title in movie_cards.items() if not movie_cards.hidden %}
        <div class="card" style="width: 15rem;" title="{{title}}" onclick="recommendcard(this)">
          <div class="imghvr">
            <img class="card-img-top" height="360" width="240" alt="{{title}} - poster" src={{poster}}>
            <figcaption class="fig">
              <button class="card-btn btn btn-danger"> Click Me </button>
            </figcaption>
           </div>
          <div class="card-body">
            <h5 class="card-title">{{title|capitalize}}</h5>
          </div>
        </div>
    {% endfor %}
    </div>

    {% endif %}

    
    </div>
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='recommend.js')}}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
